@model IBFSNetwork.Models.SearchResulttWithPage
@{
    Layout = "";
}
<table id="myTable" class="table table-striped table-bordered">
    <thead>
        <tr class="myforum">
            <th>
                Date
            </th>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Bank type
            </th>
            <th>
                Bank size
            </th>
            <th>
                Fraud type
            </th>
            <th>
                Location
            </th>
            <th>
                Loss amount
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Alerts)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.AlertDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankSize)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FraudType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LostAmount)
                </td>
                <td class="col-md-2 text-center">
                    <a asp-controller="Alerts" asp-action="Details" asp-route-id="@item.AlertId"><img src="~/images/details.png" title="Details"></a>
@if (User.IsInRole("admin") || Model.UserId == @item.ApplicationUserId)
{
                    <a asp-controller="Alerts" asp-action="Edit" asp-route-id="@item.AlertId"><img src="~/images/myEdit.png" title="Edit"></a>
}
@if (User.IsInRole("admin"))
{
                <a asp-controller="Alerts" asp-action="Delete" asp-route-id="@item.AlertId"><img src="~/images/myremove.png" title="Delete"></a>
}
                   <a asp-controller="alerts" asp-action="addfraudster" asp-route-alertId="@item.AlertId"><img src="~/images/members.png" title="Add Group members"></a>
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-6 col-md-offset-4">
        @if (Model.PageInfo.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.PageInfo.CurrentPage > 1 && Model.PageInfo.TotalPages > Model.PageInfo.PageSize)
                {
                    <li class="page-item">
                        <a class="pageclick" href="#" title="1"><span aria-hidden="true">&laquo;</span> </a>
                    </li>
                    <li>
                        <a class="pageclick" href="#" title="@(Model.PageInfo.CurrentPage - 1)"><span aria-hidden="true">&lsaquo;</span></a>
                    </li>
                }

                @for (var page = Model.PageInfo.StartPage; page <= Model.PageInfo.EndPage; page++)
                {
                    <li class="@(page == Model.PageInfo.CurrentPage ? "active" : "page-item")">
                        <a class="pageclick" href="#" title="@page">@page</a>
                    </li>}

                @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages && Model.PageInfo.TotalPages > Model.PageInfo.PageSize)
                {
                    <li>
                        <a class="pageclick" href="#" title="@(Model.PageInfo.CurrentPage + 1)"><span aria-hidden="true">&rsaquo;</span></a>
                    </li>
                    <li>
                        <a class="pageclick" href="#" title="@(Model.PageInfo.TotalPages)"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                }
            </ul>
        }
    </div>
</div>