@model List<IBFSNetwork.Models.ForumViewModels.Question>

@{
    ViewData["Title"] = "Forum";
}
<h3>Latest Discussions</h3>
<hr />
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.ViewCount) views
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.ReplyCount) Replies
        </div>

        <div class="col-md-8">
            <a asp-controller="Replies" asp-action="Index" asp-route-id="@item.QuestionId">@item.Title</a>
            <div>
                <small>Started in @item.DatePosted.ToString("MM/dd/yyyy") by @Html.DisplayFor(modelItem => item.AppUser.UserName)</small> 
            </div>
        </div>

        @*<div class="col-md-1">
           test @Html.DisplayFor(modelItem => item.QuestionId)
        </div>*@
    </div>
    <hr />

}


<div>
    <a asp-action="Create">New Discussion</a>
</div>

