@model IEnumerable<IBFSNetwork.Models.FeedModels.Feed>

@{
    ViewData["Title"] = "Index";
}

<h2>Feeds</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedType)
            </th>
                       <th>
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
                      <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th><span class="addnew-right"><a asp-action="Create" class="btn btn-addnew btn-xs">Create New</a></span>   </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
                       <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            
                @if (@item.IsDefault && !User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="EditDefault" class="btn btn-primary btn-xs" asp-route-id="@item.FeedId">Edit</a> 
 
                    </td>

                }
                else
                {
                    <td>
                        <a asp-action="Edit" class="btn btn-primary btn-xs" asp-route-id="@item.FeedId">Edit</a> |
                        <a asp-action="Delete" class="btn btn-danger btn-xs" asp-route-id="@item.FeedId">Delete</a>
                    </td>
                }


                    
        </tr>
}

    </tbody>
</table>
