@model IBFSNetwork.Models.ForumViewModels.ViewReply

@{
    ViewData["Title"] = "Duscussion";
}

<ui class="breadcrumb">
    <li> <small><a asp-controller="forumsview" asp-action="Index">Forums</a> </small></li>
    
        <ui class="breadcrumb">
            <li> <small><a asp-controller="forumsview" asp-action="Index">Forums</a> </small></li>
            <li class="active"> <small><a asp-controller="forumsview" asp-action="Index">@Model.BreadCrumb[0]</a> </small></li>
            <li class="active"> <small><a asp-controller="forumsview" asp-action="Forum" asp-route-id="@Model.ForumId">@Model.BreadCrumb[1]</a> </small></li>
            @if (@Model.BreadCrumb.Count==3)
            {
                <li class="active"> <small><a asp-controller="subthread" asp-action="Index"  asp-route-id="@Model.SubForumId">@Model.BreadCrumb[2]</a> </small></li>
            }
        </ui>
</ui>

<h3>@Model.Title</h3>
<div>@Model.CommentsCount Comments </div>
<hr />

@foreach (var item in Model.ReplyList)
{
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-8">
            @*<a asp-action="Details" asp-route-id="@item.QuestionId">@item.ReplayMsg</a>*@
            @item.ReplyMsg

        </div>

        <div class="col-md-2">
            <div>
                @Html.DisplayFor(modelItem => item.AppUser.UserName) posted in @item.ReplyDate.ToString("MM/dd/yyyy")
            </div>

        </div>
    </div>
    <hr />

}
<div class="row">
    <div class="col-md-2">
        <a asp-controller="Questions" asp-action="ViewForumList">Back to Discussion List</a>
    </div>
    <div class="col-md-2 col-md-offset-8">
        <a asp-action="Create" asp-route-id=@ViewBag.QuestionId>Reply</a>
    </div>
</div>
