@model IBFSNetwork.Models.ApplicationClient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationClient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
